/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-size: cover;
  padding: 20px; /* Add some padding to the body to make it look better */
  background-color: #FEFAF6
}

.donation-box {
    position: relative;
    max-width: 400px;
    background-color:  #6D9886;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(55px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem; /* Add some padding to the section to make it look better */
    margin: 0 auto; /* Center the section horizontally */
    border: 2px solid #fff; /* Add a border to the section */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a box shadow to the section */
    transition: all 0.3s ease; /* Add a transition to the section */
}

h1 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    margin-bottom: 30px; /* Add some margin to the header to make it look better */
}

.inputbox {
    position: relative;
    margin: 30px 0;
    max-width: 310px;
    border-bottom: 2px solid #fff;
    border-radius: 5px; /* Add a border radius to the input box */
    overflow: hidden; /* Add an overflow to the input box */
    transition: all 0.3s ease; /* Add a transition to the input box */
}

.inputbox label {
    /* position: absolute; */
    /* top: 50%; */
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.5s ease-in-out;

}
input:focus ~ label,
input:valid ~ label {
    top: -5px;
}
.inputbox input {
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    /* outline: none; */
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: #fff;
    margin-bottom: 10px; /* Add some margin to the input to make it look better */
    border-radius: 5px; /* Add a border radius to the input */
    transition: all 0.3s ease;/*Add a transition to the input*/
  }

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2rem;
    top: 20px;
}
button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(255, 255,255, 1);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
}